:root {
  --background-color: rgb(90, 149, 236);
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0rem;
  text-align: center;
}
header {
  margin: 0;
}

#header-two a,
header img {
  transition: transform 0.5s ease-out 0.2s;
}

#header-two a:hover,
header img:hover {
  transform: scale(1.1);
}

header a {
  text-decoration: none;
  color: rgb(90, 149, 236);
  font-size: 1.2rem;
  font-weight: 500;
}

header span {
  font-family: "Acme", sans-serif;
  font-size: 1.5rem;
}

header img {
  width: 3rem;
  height: 3rem;
}

header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header-two {
  background-color: white;
  color: black;
  margin: 0;
}

#header-two img {
  background-color: var(--background-color);
}
aside {
  color: white;
  display: none;
  margin: 0;
  padding: 0;
}

#aside-contact-links img {
  width: 2rem;
  height: 2rem;
  padding: 1rem;
}

#aside-contact-links img:hover,
#contact-links img:hover #aside-contact-links img:hover,
#contact-links img:hover {
  transform: scale(1.2);
}

#set-back {
  background-color: var(--background-color);
  padding: 3rem;
}

main p {
  font-weight: bold;
  font-size: 2rem;
}
main a {
  text-decoration: none;
}

ul {
  width: 25rem;
  text-align: left;
  margin: 3rem auto;
  font-size: 1.5rem;
}

li {
  list-style: none;
}

#calculator-section {
  margin: 3rem 0;
}

#contact-links img {
  margin: 5rem 0;
  width: 2rem;
  height: 2rem;
  padding: 1rem;
  transition: transform 0.3s ease-in 0.1s;
}

footer {
  margin: 4rem 0 0 0;
  text-align: left;
  font-size: 1rem;
  background-color: var(--background-color);
  padding: 3.2rem;
  border-radius: 0.2rem;
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
  margin-right: 1rem;
}

footer p {
  display: inline;
  margin-right: 1rem;
}

footer span {
  margin-left: 27rem;
}
